  <!-- https://learn.microsoft.com/en-us/dotnet/framework/debug-trace-profile/trace-listeners -->
  <!-- https://learn.microsoft.com/en-us/dotnet/api/system.diagnostics.textwritertracelistener?view=net-8.0 -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\Altair\TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
